.ant-table-content {
    height: 45vh;
    overflow-y: scroll;
}
.ant-pagination {
    justify-content: center;
}
.react-action-class {
    margin: 0px auto;
    button {
        background: transparent;
        border: 0;
        cursor: pointer;
        height: 1.875rem;
        font-size: 0.9375rem;
        width: 1.875rem;
        border-radius: 3px;
        margin-right: 5px;
        &:focus {
            outline: 0 !important;
        }
    }
    .react-table-view-button {
        color: #6bd098;
        &:hover {
            background-color: #6bd098;
            color: white;
        }
    }
    .react-table-edit-button {
        color: #fab526;
        &:hover {
            background-color: #fab526;
            color: white;
        }
    }
    .react-table-delete-button {
        color: #eb6532;
        &:hover {
            background-color: #eb6532;
            color: white;
        }
    }
    .react-table-suspend-button {
        color: #e74c3c;
        &:hover {
            background-color: #e74c3c;
            color: white;
        }
    }
    .react-table-reset-button {
        color: #1abc9c;
        &:hover {
            background-color: #1abc9c;
            color: white;
        }
    }
}
