.item-uploaded {
    width: 100%;
    height: 56px;
    padding: 10px 0px 10px 14px;
    background: #ffffff;
    border: 1px solid #eaeaeb;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    margin-bottom: 10px;
    .file-name-custom-upload {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        display: inline-block;
        min-width: 138px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 13px;
    }
    .action {
        .action-icon {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 5px;
            background: #f1f2f4;
            color: #566371;
            border-radius: 50%;
            &.pause {
                background: #ffebec;
                color: #ff5963;
            }
        }
    }
}
